#container{
    height:500;
    width:400;
    border:1px solid black;
    margin:100;
}
#display-container{
    height:100;
    width:400;
    border:1px solid black;
    
} 
.button{
    height:100;
    width:80;
    border:1px solid black;
    display: inline-block;
}