.icon-group-content {
	text-align:center !important;
	display: inline-block;
    	width: 100%;
	
}
.icon-group-content h2{ font-size:2.3rem;}
.icon-group-content p,h2 {
	padding:15 ;
	font-size:1.1rem;
	font-family: 'Adelle-Regular';
	
}
img{
	margin-top:50;
}
section.icon-group .row .col  {
    border-left: 1px solid #b7b7b7;
    padding-left: 60px;
    padding-right: 60px;
}
@media (max-width: 900px){
.col-sm-6 {
    width: 5 0%;
}
}
@media (max-width: 900px){
    .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {
    float: left;
}
}
section.icon-group .row {
    border-top: 1px solid #b7b7b7;
    margin-left: -60px;
    margin-right: -60px;
    margin-top:-5px;
}

.container{
    overflow: hidden;
}
@media (min-width: 768px)
.container {
    width: 750px;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
	margin-bottom:80;
}
div{
	display:block;
}
#company{
	 position: absolute;
}

@media (min-width: 768px){
.container {
    width: 750px;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    
    overflow:hidden;
    
}
.mbr-figure img{
	width:100% !important;
}
}

h2.headline {
    font-size: 60px !important;
    line-height: 65px;
    margin: 0 0 50px;
    font-family:Sans-serif;
}


.row{
	display:table;
	content:" ";
}

.col-content-headline{
	font-size:40 ;
 	line-height: 1.5;
	color:#776096;
	
}
.col-content img{
	margin-top:-3;
}
h3{
display:inline-block;
}

.col-content-text ul{
	padding:25;
	font-size:22px;
	align-text:left !important;
	margin-left:-15;
	color: #666;
}

.below-copy{
	font-size:17;
}
@media (min-width: 768px){
.col-sm-4 {
    width: 33.33333333%;
        min-height: 1px;
}

section.column-content .col-content .has-icon h3 {
    display: inline-block;
}
}
.mbr-table-cell-lg {
	 
    display: table-cell;
    vertical-align: middle;	
}
.mbr-section-title{
	font-family:adelle-regular;
	font-size:40 ;
}
.lead p{
	color:black;
	font-size:20;
}
.text-xs-center {
    text-align: center!important;
}
.col-xs-12 {
    width: 100%;
}

.btn-lg {
    padding: .65rem 1.85rem;
    font-size: 1.25rem;
    line-height: 1.33333;
    border-radius: 1.7rem;
}

.btn {
	 border: 1px solid black !important;
	 border-radius: 1.4rem !important;
    margin-bottom: 0.5rem;
    display: inline-block;
    font-weight: 400;  
    padding: .4rem 1.6rem !important;
    line-height: 1.5;    
}

.mbr-figure img{
	padding: .65rem 1.85rem;
    display: block;
    overflow: hidden;
    
    width: 100%;
    margin: 0;
	height:70% !important;
}
#company{
height:50%!important;
}
#company p,ul,img{
margin:0 !important;
}